---
import Heading from '@/components/Heading.astro';
import ExperienceList from '../components/ExperienceList';
import { getExperiences } from '../service';

const experiences = getExperiences();
---

<div class="py-12 md:py-16">
  <div class="max-w-7xl mx-auto px-4">
    <Heading
      title="Experience"
      description="My professional journey and technical expertise"
    />
    
    <ExperienceList client:load experiences={experiences} />
  </div>
</div> 